---
layout: default
---

{% assign credits = site.data.credits.credits.credits %}


<section class="credits">
  <div class="container">

    <div class="credits-wrapper">
      <h1> {{ credits.team-title }} </h1>
      <p> {{ credits.team-description }}<p>
      <div class="grid">
        <div class="grid-sizer"></div>
        {% for member in credits.team %}
          <div class="credits-container credits-container grid-item">
            <div class="credits-image-container grid-30">
              <img src="{{ member.image.src }}" alt="{{ member.image.alt }}">
            </div>
            <div class="credits-detail-container grid-70">
              <h3> {{ member.name }} </h3>
              <p> {{ member.title }} </p>
              <p> {{ member.description }} </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>


    <div class="credits-wrapper contributors">
      <h1>{{ credits.contributor-title }}</h1>
      <p>{{ credits.contributor-description }}</p>

      <div class="grid">
        <div class="grid-sizer"></div>
        {% for contributor in credits.contributors %}
          <div class="credits-container credits-container grid-item">
            <div class="credits-image-container grid-30">
              <img src="{{ contributor.image.src }}" alt="{{ contributor.image.alt }}">
            </div>
            <div class="credits-detail-container grid-70">
              <h3> {{ contributor.name }} </h3>
              <p> {{ contributor.title }} </p>
              <p> {{ contributor.description }} </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
</section>
