---
layout: default
---

{% assign homepage = site.data.homepage.homepage.homepage %}


{% include posthack-hero.html %}


<section class="sponsors" id="sponsors">
    <div class="container">
        <h1 class="text-center">{{ homepage.sponsors.header }}</h1>
        <h2 class="sub-text text-center">{{ homepage.sponsors.sub-header }}</h2>
        <div class="sponsors-logo-container grid">
          <div class="grid-sizer"></div>
          {% for sp in homepage.sponsors.sponsor %}
            <div class="sponsors-logo grid-item {{ sp.grid_size }} {{ sp.extra_class }}">
              <a href="{{ sp.url }}">
                <img src="{{ sp.image }}" alt="{{ sp.name }}">
              </a>
            </div>
          {% endfor %}
        </div>
    </div>
</section>

<section>
  <div class="container">
    <h1 class="text-center"> Plattshacks 2019 </h1>

    <div>

    </div>
  </div>
</section>
