{% assign hero = site.data.homepage.hero.hero %}


<section class="hero">
    <div id="particles-js"></div>
    <div class="wrapper text-center">
        <div class="">
            <img src="/images/logo.png" class="hero-logo">
        </div>
    </div>
    <div class="hero-description">
        <h2 rel="description">{{ hero.description }}</h2>
        <!-- <h3 rel="location">{{ hero.date }} &mdash; {{ hero.location }}</h3> -->
        <h3> {{ hero.deadline }} </h3>

        <div>
          <!-- this is some copied code!! Source: w3school -->
          <!-- Display the countdown timer in an element -->
          <p id="demo"></p>
          <p id="demo2"></p>

          <script>
          // Set the date we're counting down to
          var countDownDate = new Date("Mar 31, 2018 8:30:00").getTime();

          // Update the count down every 1 second
          var x = setInterval(function() {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("demo").innerHTML = hours + "h "
            + minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text
            if (distance < 0) {
              clearInterval(x);
              document.getElementById("demo2").innerHTML = "Time's up! Submit your project <a href='https://docs.google.com/forms/d/e/1FAIpQLSeGwjxmQxcN6m24DHXaP4KeLFvswmxwragJW-xm4SSBChmTCQ/viewform?usp=sf_link'>here</a>";
              document.getElementById("demo").innerHTML = ""
            }
          }, 1000);
          </script>
        </div>

        <!-- <div class="buttons">
          {% for link in hero.links %}
            {% if link.href %}
              <a href="{{ link.href }}">{{ link.text }}</a>
            {% elsif link.my_mlh %}
              <a class="apply" href="https://my.mlh.io/oauth/authorize?client_id={{ link.my_mlh.client_id }}&amp;redirect_uri={{ link.my_mlh.redirect_uri }}&amp;response_type=token">{{ link.text }}</a>
            {% endif %}
          {% endfor %}
        </div> -->
    </div>
</section>
