{% assign hero = site.data.homepage.hero.hero %}


<section class="hero">
    <div id="particles-js"></div>
    <div class="wrapper text-center">
        <div class="">
            <img src="/images/logo.png" class="hero-logo">
        </div>
    </div>
    <div class="hero-description">
        <h2 rel="description">{{ hero.description }}</h2>
        <!-- <h3 rel="location">{{ hero.date }} &mdash; {{ hero.location }}</h3> -->
        <h3> {{ hero.deadline }} </h3>

        <!-- <div class="buttons">
          {% for link in hero.links %}
            {% if link.href %}
              <a href="{{ link.href }}">{{ link.text }}</a>
            {% elsif link.my_mlh %}
              <a class="apply" href="https://my.mlh.io/oauth/authorize?client_id={{ link.my_mlh.client_id }}&amp;redirect_uri={{ link.my_mlh.redirect_uri }}&amp;response_type=token">{{ link.text }}</a>
            {% endif %}
          {% endfor %}
        </div> -->
    </div>
</section>
