<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">PlattsHacks</a>

    <ul class="navbar-nav mr-auto hide-on-mobile">
        <li class="nav-item">
            <a class="nav-link" href="#sponsors">Sponsors</a>
        </li>
    </ul>

    <a id="menu-mobile-button" class="hide-on-desktop hide-on-tablet"><i class="fa fa-bars" aria-hidden="true"></i></a>

    <div id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#sponsors">Sponsors</a>
            </li>
        </ul>
    </div>
</nav>
