{% assign navbar = site.data.navbar.navbar %}

<div class="above-navbar Sticky">
    <div class="grid-25 tablet-grid-25 mobile-grid-25 first"></div>
    <div class="grid-25 tablet-grid-25 mobile-grid-25 second"></div>
    <div class="grid-25 tablet-grid-25 mobile-grid-25 third"></div>
    <div class="grid-25 tablet-grid-25 mobile-grid-25 fourth"></div>
</div>
<nav class="navbar sticky-top navbar-expand-lg navbar-light Sticky">
    <a class="navbar-brand" href="/">{{ navbar.title }}</a>

    <ul class="navbar-nav mr-auto hide-on-mobile">
        <li class="nav-item">
            {% for item in navbar.items %}
              <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
            {% endfor %}
        </li>
    </ul>

    <span class="navbar-social hide-on-mobile">
      <a href="{{ navbar.social-media.url }}"><i class="fab fa-facebook-square"></i></a>
    </span>

    <a id="menu-mobile-button" class="hide-on-desktop hide-on-tablet"><i class="fa fa-bars" aria-hidden="true"></i></a>

    <div id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              {% for item in navbar.items %}
                <a href="{{ item.link }}">{{ item.title }}</a>
              {% endfor %}
            </li>
        </ul>
    </div>
</nav>
