<!DOCTYPE html>
<html>
  {% include head.html %}

    <body{% if page.custom_class %} class="{{ page.custom_class }}"{% endif %}>
        <div id="wrapper">

            {% include trust_badge.html %}
            {% include navbar.html %}

            {{ content }}

            <section class="footer">
                <div class="container text-center">
                    <h3>Made with <span style="color: #e25555;">&hearts;</span> by the Plattshacks team</h3>
                    <p> Contact us: <a href="mailto:plattshack@gmail.com?Subject=Hello%20Plattshacks" target="_top">plattshack@gmail.com</a></p>
                </div>
            </section>
        </div>

        {% include scripts.html %}
        {% include analytics/google_analytics.html ga_id=site.tracking.google_analytics %}
    </body>
</html>
